{
	default_sni {$VIRTUAL_HOST}
}

(cors) {
	@cors_preflight method OPTIONS
	header {
		Access-Control-Allow-Origin "{args.0}"
		Vary Origin
		Access-Control-Allow-Headers "*"
		Access-Control-Expose-Headers "Authorization, Link, X-Result-Count"
		Access-Control-Allow-Credentials "true"
	}
	handle @cors_preflight {
		header {
			Access-Control-Allow-Methods "GET, POST, PUT, PATCH, DELETE"
			Access-Control-Allow-Headers "*"
			Access-Control-Max-Age "3600"
		}
		respond "" 204
	}
}

{$VIRTUAL_HOST} {
	tls {$TLS}

	import cors {header.origin}

	reverse_proxy /* http://waldur-homeport:8080

	reverse_proxy /api/* http://waldur-mastermind-api:8080
	reverse_proxy /api-auth/* http://waldur-mastermind-api:8080
	reverse_proxy /docs/* http://waldur-mastermind-api:8080
	reverse_proxy /admin/* http://waldur-mastermind-api:8080
	reverse_proxy /static/* http://waldur-mastermind-api:8080
	reverse_proxy /media/* http://waldur-mastermind-api:8080
	reverse_proxy /health-check/* http://waldur-mastermind-api:8080
	reverse_proxy /auth/* http://keycloak:8080

	import /etc/caddy-includes/*.conf
}
