# Staging Environment Overlay
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: virtengine-staging

resources:
  - ../../base

namePrefix: staging-

commonLabels:
  environment: staging

patches:
  # Staging replicas
  - target:
      kind: Deployment
      name: virtengine-node
    patch: |
      - op: replace
        path: /spec/replicas
        value: 3
  - target:
      kind: Deployment
      name: provider-daemon
    patch: |
      - op: replace
        path: /spec/replicas
        value: 2
  # Moderate resources
  - target:
      kind: Deployment
      name: virtengine-node
    patch: |
      - op: replace
        path: /spec/template/spec/containers/0/resources/requests/cpu
        value: "1000m"
      - op: replace
        path: /spec/template/spec/containers/0/resources/requests/memory
        value: "4Gi"
      - op: replace
        path: /spec/template/spec/containers/0/resources/limits/cpu
        value: "3000m"
      - op: replace
        path: /spec/template/spec/containers/0/resources/limits/memory
        value: "6Gi"

configMapGenerator:
  - name: virtengine-config
    behavior: merge
    literals:
      - CHAIN_ID=virtengine-staging-1
      - LOG_LEVEL=info
      - API_SWAGGER=false

images:
  - name: virtengine/virtengine-node
    newTag: staging
  - name: virtengine/provider-daemon
    newTag: staging
