name: Release TypeScript NPM Package
on:
  push:
    branches:
      - main

# 1 in-progress + 1 queued which will be canceled if a new one appears
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}

jobs:
  release:
    runs-on: ubuntu-latest
    outputs:
      paths_released: ${{ steps.release-pl.outputs.paths_released }}
    permissions:
      contents: write
      issues: write
      pull-requests: write
    steps:
      - uses: googleapis/release-please-action@v4
        id: release-pl
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

  publish:
    runs-on: ubuntu-latest
    needs: release
    if: ${{ contains(fromJSON(needs.release.outputs.paths_released), 'ts') }}
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v4
        with:
          node-version: 24.12.0
          cache: npm
          cache-dependency-path: ts/package-lock.json
      - name: Setup env
        uses: HatsuneMiku3939/direnv-action@v1
      - name: Setup go toolchain
        run: |
          toolchain=$(./script/tools.sh gotoolchain | sed 's/go*//')
          echo "GOVERSION=${toolchain}" >> $GITHUB_ENV
      - name: Setup go
        uses: actions/setup-go@v5
        with:
          go-version: "${{ env.GOVERSION }}"
      - name: Publish npm package
        run: make release-ts
