apiVersion: install.istio.io/v1alpha1
kind: IstioOperator
metadata:
  name: virtengine-istio
  namespace: istio-system
spec:
  profile: default
  meshConfig:
    accessLogFile: /dev/stdout
    enableTracing: true
    extensionProviders:
      - name: otel
        opentelemetry:
          service: otel-collector.virtengine-observability.svc.cluster.local
          port: 4317
  values:
    pilot:
      traceSampling: 100.0
