# Development Environment Overlay
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: virtengine-dev

resources:
  - ../../base

namePrefix: dev-

commonLabels:
  environment: dev

# Patches for dev environment
patches:
  # Reduce replicas for dev
  - target:
      kind: Deployment
      name: virtengine-node
    patch: |
      - op: replace
        path: /spec/replicas
        value: 1
  - target:
      kind: Deployment
      name: provider-daemon
    patch: |
      - op: replace
        path: /spec/replicas
        value: 1
  # Reduce resources for dev
  - target:
      kind: Deployment
      name: virtengine-node
    patch: |
      - op: replace
        path: /spec/template/spec/containers/0/resources/requests/cpu
        value: "500m"
      - op: replace
        path: /spec/template/spec/containers/0/resources/requests/memory
        value: "2Gi"
      - op: replace
        path: /spec/template/spec/containers/0/resources/limits/cpu
        value: "2000m"
      - op: replace
        path: /spec/template/spec/containers/0/resources/limits/memory
        value: "4Gi"
  # Remove node selectors for dev
  - target:
      kind: Deployment
      name: virtengine-node
    patch: |
      - op: remove
        path: /spec/template/spec/nodeSelector
      - op: remove
        path: /spec/template/spec/tolerations
  # Update PDB for single instance
  - target:
      kind: PodDisruptionBudget
      name: virtengine-node-pdb
    patch: |
      - op: replace
        path: /spec/minAvailable
        value: 0

configMapGenerator:
  - name: virtengine-config
    behavior: merge
    literals:
      - CHAIN_ID=virtengine-dev-1
      - LOG_LEVEL=debug
      - API_SWAGGER=true

images:
  - name: virtengine/virtengine-node
    newTag: dev
  - name: virtengine/provider-daemon
    newTag: dev
