openapi: 3.0.3
info:
  title: VirtEngine Blockchain API
  version: 1.0.0
  description: |
    Complete API documentation for the VirtEngine blockchain platform.
    
    VirtEngine is a Cosmos SDK-based blockchain for decentralized cloud computing 
    with ML-powered identity verification (VEID).
    
    ## Authentication
    
    Most query endpoints are publicly accessible. Transaction endpoints require:
    - Wallet signature authentication (Cosmos ADR-036)
    - MFA verification for sensitive operations
    
    See [Authentication Guide](../guides/authentication.md) for details.
    
    ## Rate Limits
    
    | Tier | Requests/sec | Daily Quota |
    |------|--------------|-------------|
    | Anonymous | 10 | 10,000 |
    | API Key | 50 | 100,000 |
    | Premium | 200 | 1,000,000 |
    
  contact:
    name: VirtEngine
    url: https://virtengine.io
    email: api@virtengine.io
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html

servers:
  - url: https://api.virtengine.com
    description: Mainnet
  - url: https://api.testnet.virtengine.com
    description: Testnet
  - url: http://localhost:1317
    description: Local development

security:
  - ApiKeyAuth: []
  - WalletAuth: []

tags:
  - name: VEID
    description: Identity verification and management
  - name: MFA
    description: Multi-factor authentication
  - name: Encryption
    description: Public-key encryption services
  - name: Market
    description: Marketplace orders, bids, and leases
  - name: Deployment
    description: Deployment management
  - name: Provider
    description: Provider registration and management
  - name: Escrow
    description: Payment escrow services
  - name: Cert
    description: Certificate management
  - name: Audit
    description: Audit logging and queries
  - name: Roles
    description: Role-based access control
  - name: Staking
    description: Staking and delegation
  - name: HPC
    description: High-performance computing
  - name: Enclave
    description: TEE/Enclave management
  - name: Take
    description: Network take rate configuration
  - name: Oracle
    description: Price oracle for resource pricing
  - name: Epochs
    description: Epoch management
  - name: Fraud
    description: Fraud detection and reporting
  - name: BME
    description: Benchmark and metrics engine

paths:
  # VEID Module
  /virtengine/veid/v1/identity/{account_address}:
    get:
      tags: [VEID]
      summary: Get identity record
      description: Retrieves the identity record for an account
      operationId: getIdentity
      security: []
      parameters:
        - name: account_address
          in: path
          required: true
          schema:
            type: string
          description: Bech32 account address
      responses:
        '200':
          description: Identity record
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdentityResponse'
        '404':
          description: Identity not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-rate-limit:
        requests-per-second: 10
        burst: 20

  /virtengine/veid/v1/scope/list:
    get:
      tags: [VEID]
      summary: List identity scopes
      description: List all scopes for an account
      operationId: listScopes
      security: []
      parameters:
        - name: account_address
          in: query
          required: true
          schema:
            type: string
        - name: pagination.limit
          in: query
          schema:
            type: integer
            default: 100
        - name: pagination.offset
          in: query
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: List of scopes
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScopesResponse'
      x-rate-limit:
        requests-per-second: 10
        burst: 20

  /virtengine/veid/v1/score/{account_address}:
    get:
      tags: [VEID]
      summary: Get identity score
      description: Get ML-computed identity verification score
      operationId: getIdentityScore
      security: []
      parameters:
        - name: account_address
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Identity score
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScoreResponse'
      x-rate-limit:
        requests-per-second: 10
        burst: 20

  # MFA Module
  /virtengine/mfa/v1/factors/{account_address}:
    get:
      tags: [MFA]
      summary: List MFA factors
      description: List configured MFA factors for an account
      operationId: listMfaFactors
      security: []
      parameters:
        - name: account_address
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: List of MFA factors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MfaFactorsResponse'
      x-rate-limit:
        requests-per-second: 10
        burst: 20

  /virtengine/mfa/v1/challenge/create:
    post:
      tags: [MFA]
      summary: Create MFA challenge
      description: Create a new MFA challenge for transaction verification
      operationId: createMfaChallenge
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateChallengeRequest'
      responses:
        '200':
          description: Challenge created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChallengeResponse'
      x-rate-limit:
        requests-per-second: 5
        burst: 10
      x-auth-required:
        type: wallet-signature

  # Market Module
  /virtengine/market/v2beta1/orders/list:
    get:
      tags: [Market]
      summary: List marketplace orders
      description: Query orders with optional filters
      operationId: listOrders
      security: []
      parameters:
        - name: filters.owner
          in: query
          schema:
            type: string
        - name: filters.state
          in: query
          schema:
            type: string
            enum: [open, active, closed]
        - name: pagination.limit
          in: query
          schema:
            type: integer
            default: 100
      responses:
        '200':
          description: List of orders
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrdersResponse'
      x-rate-limit:
        requests-per-second: 20
        burst: 50

  /virtengine/market/v2beta1/bids/list:
    get:
      tags: [Market]
      summary: List marketplace bids
      description: Query bids with optional filters
      operationId: listBids
      security: []
      parameters:
        - name: filters.owner
          in: query
          schema:
            type: string
        - name: filters.state
          in: query
          schema:
            type: string
            enum: [open, active, lost, closed]
      responses:
        '200':
          description: List of bids
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BidsResponse'
      x-rate-limit:
        requests-per-second: 20
        burst: 50

  /virtengine/market/v2beta1/leases/list:
    get:
      tags: [Market]
      summary: List marketplace leases
      description: Query leases with optional filters
      operationId: listLeases
      security: []
      parameters:
        - name: filters.owner
          in: query
          schema:
            type: string
        - name: filters.state
          in: query
          schema:
            type: string
            enum: [active, insufficient_funds, closed]
      responses:
        '200':
          description: List of leases
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LeasesResponse'
      x-rate-limit:
        requests-per-second: 20
        burst: 50

  # Provider Module  
  /virtengine/provider/v1beta4/providers:
    get:
      tags: [Provider]
      summary: List providers
      description: List all registered providers
      operationId: listProviders
      security: []
      parameters:
        - name: pagination.limit
          in: query
          schema:
            type: integer
            default: 100
      responses:
        '200':
          description: List of providers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProvidersResponse'
      x-rate-limit:
        requests-per-second: 10
        burst: 20

  /virtengine/provider/v1beta4/providers/{owner}:
    get:
      tags: [Provider]
      summary: Get provider details
      description: Get detailed information for a specific provider
      operationId: getProvider
      security: []
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Provider details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderResponse'
      x-rate-limit:
        requests-per-second: 10
        burst: 20

  # Escrow Module
  /virtengine/escrow/v1/accounts/list:
    get:
      tags: [Escrow]
      summary: List escrow accounts
      description: List all escrow accounts with optional filters
      operationId: listEscrowAccounts
      security: []
      parameters:
        - name: scope
          in: query
          schema:
            type: string
            enum: [all, deployment, bid]
        - name: owner
          in: query
          schema:
            type: string
      responses:
        '200':
          description: List of escrow accounts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EscrowAccountsResponse'
      x-rate-limit:
        requests-per-second: 10
        burst: 20

  /virtengine/escrow/v1/payments/list:
    get:
      tags: [Escrow]
      summary: List escrow payments
      description: List all payments for an escrow account
      operationId: listEscrowPayments
      security: []
      parameters:
        - name: account_id.scope
          in: query
          required: true
          schema:
            type: string
        - name: account_id.xid
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: List of payments
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentsResponse'
      x-rate-limit:
        requests-per-second: 10
        burst: 20

  # HPC Module
  /virtengine/hpc/v1/jobs:
    get:
      tags: [HPC]
      summary: List HPC jobs
      description: List all HPC job submissions
      operationId: listHpcJobs
      security: []
      parameters:
        - name: owner
          in: query
          schema:
            type: string
        - name: status
          in: query
          schema:
            type: string
            enum: [pending, running, completed, failed]
      responses:
        '200':
          description: List of HPC jobs
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HpcJobsResponse'
      x-rate-limit:
        requests-per-second: 10
        burst: 20

  /virtengine/hpc/v1/jobs/{job_id}:
    get:
      tags: [HPC]
      summary: Get HPC job details
      description: Get detailed information for a specific HPC job
      operationId: getHpcJob
      security: []
      parameters:
        - name: job_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: HPC job details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HpcJobResponse'
      x-rate-limit:
        requests-per-second: 10
        burst: 20

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
      description: API key authentication
    
    WalletAuth:
      type: apiKey
      in: header
      name: X-Cosmos-Signature
      description: |
        Wallet signature authentication using Cosmos ADR-036 standard.
        Requires headers: X-Cosmos-Signature, X-Cosmos-Pubkey, X-Cosmos-Timestamp

  schemas:
    ErrorResponse:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
              example: "veid:1001"
            message:
              type: string
              example: "identity not found"
            category:
              type: string
              enum: [validation, not_found, unauthorized, internal]

    IdentityResponse:
      type: object
      properties:
        identity:
          type: object
          properties:
            account_address:
              type: string
              example: "virtengine1..."
            status:
              type: string
              enum: [pending, verified, revoked]
            verification_level:
              type: integer
              minimum: 0
              maximum: 5
            created_at:
              type: string
              format: date-time
            updated_at:
              type: string
              format: date-time

    ScopesResponse:
      type: object
      properties:
        scopes:
          type: array
          items:
            type: object
            properties:
              scope_id:
                type: string
              scope_type:
                type: string
                enum: [facial, document, liveness, biometric]
              encrypted_data:
                type: string
                format: base64
              fingerprint:
                type: string
              uploaded_at:
                type: string
                format: date-time
        pagination:
          $ref: '#/components/schemas/Pagination'

    ScoreResponse:
      type: object
      properties:
        score:
          type: object
          properties:
            account_address:
              type: string
            overall_score:
              type: number
              format: float
              minimum: 0
              maximum: 1
            components:
              type: object
              properties:
                facial_match:
                  type: number
                  format: float
                liveness_score:
                  type: number
                  format: float
                document_authenticity:
                  type: number
                  format: float
            computed_at:
              type: string
              format: date-time

    MfaFactorsResponse:
      type: object
      properties:
        factors:
          type: array
          items:
            type: object
            properties:
              factor_id:
                type: string
              factor_type:
                type: string
                enum: [totp, webauthn, recovery]
              enabled:
                type: boolean
              created_at:
                type: string
                format: date-time

    CreateChallengeRequest:
      type: object
      required:
        - address
        - factor_type
        - transaction_type
      properties:
        address:
          type: string
        factor_type:
          type: string
          enum: [totp, webauthn, recovery]
        transaction_type:
          type: string

    ChallengeResponse:
      type: object
      properties:
        challenge_id:
          type: string
        expires_at:
          type: string
          format: date-time

    OrdersResponse:
      type: object
      properties:
        orders:
          type: array
          items:
            type: object
            properties:
              order_id:
                type: object
              owner:
                type: string
              state:
                type: string
                enum: [open, active, closed]
              spec:
                type: object
              created_at:
                type: integer
                format: int64
        pagination:
          $ref: '#/components/schemas/Pagination'

    BidsResponse:
      type: object
      properties:
        bids:
          type: array
          items:
            type: object
        pagination:
          $ref: '#/components/schemas/Pagination'

    LeasesResponse:
      type: object
      properties:
        leases:
          type: array
          items:
            type: object
        pagination:
          $ref: '#/components/schemas/Pagination'

    ProvidersResponse:
      type: object
      properties:
        providers:
          type: array
          items:
            type: object
            properties:
              owner:
                type: string
              host_uri:
                type: string
              attributes:
                type: array
                items:
                  type: object
              info:
                type: object
        pagination:
          $ref: '#/components/schemas/Pagination'

    ProviderResponse:
      type: object
      properties:
        provider:
          type: object
          properties:
            owner:
              type: string
            host_uri:
              type: string
            attributes:
              type: array
              items:
                type: object

    EscrowAccountsResponse:
      type: object
      properties:
        accounts:
          type: array
          items:
            type: object
        pagination:
          $ref: '#/components/schemas/Pagination'

    PaymentsResponse:
      type: object
      properties:
        payments:
          type: array
          items:
            type: object
        pagination:
          $ref: '#/components/schemas/Pagination'

    HpcJobsResponse:
      type: object
      properties:
        jobs:
          type: array
          items:
            type: object
            properties:
              job_id:
                type: string
              owner:
                type: string
              status:
                type: string
                enum: [pending, running, completed, failed]
              created_at:
                type: string
                format: date-time
        pagination:
          $ref: '#/components/schemas/Pagination'

    HpcJobResponse:
      type: object
      properties:
        job:
          type: object
          properties:
            job_id:
              type: string
            owner:
              type: string
            status:
              type: string
            spec:
              type: object
            results:
              type: object

    Pagination:
      type: object
      properties:
        next_key:
          type: string
          format: byte
        total:
          type: string
          format: uint64
