openapi: 3.0.3
info:
  title: VirtEngine Blockchain API
  version: 1.0.0
  description: |
    Complete API documentation for the VirtEngine blockchain platform.
    
    VirtEngine is a Cosmos SDK-based blockchain for decentralized cloud computing 
    with ML-powered identity verification (VEID).
    
    ## Authentication
    
    Most query endpoints are publicly accessible. Transaction endpoints require:
    - Wallet signature authentication (Cosmos ADR-036)
    - MFA verification for sensitive operations
    
    See [Authentication Guide](../guides/authentication.md) for details.
    
    ## Rate Limits
    
    | Tier | Requests/sec | Daily Quota |
    |------|--------------|-------------|
    | Anonymous | 10 | 10,000 |
    | API Key | 50 | 100,000 |
    | Premium | 200 | 1,000,000 |

    ## Transport Coverage

    `paths` in this document describe HTTP routes that are actually exposed by the
    gRPC-Gateway in the current build. Two query services boot on the gRPC server
    without generated HTTP gateway handlers and are therefore documented under
    `x-grpc-services` instead of `paths`:

    - `virtengine.marketplace.v1.Query`
    - `virtengine.hpc.v1.WorkloadTemplateQuery`
    
  contact:
    name: VirtEngine
    url: https://virtengine.com
    email: api@virtengine.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html

servers:
  - url: https://api.virtengine.com
    description: Mainnet
  - url: https://api.testnet.virtengine.com
    description: Testnet
  - url: http://localhost:1317
    description: Local development

security:
  - ApiKeyAuth: []
  - WalletAuth: []

tags:
  - name: VEID
    description: Identity verification and management
  - name: MFA
    description: Multi-factor authentication
  - name: Encryption
    description: Public-key encryption services
  - name: Market
    description: Market REST endpoints plus marketplace gRPC query compatibility notes
  - name: Deployment
    description: Deployment management
  - name: Provider
    description: Provider registration and management
  - name: Escrow
    description: Payment escrow services
  - name: Cert
    description: Certificate management
  - name: Audit
    description: Audit logging and queries
  - name: Roles
    description: Role-based access control
  - name: Staking
    description: Staking and delegation
  - name: HPC
    description: High-performance computing REST endpoints plus workload template gRPC queries
  - name: Enclave
    description: TEE/Enclave management
  - name: Take
    description: Network take rate configuration
  - name: Oracle
    description: Price oracle for resource pricing
  - name: Epochs
    description: Epoch management
  - name: Fraud
    description: Fraud detection and reporting
  - name: BME
    description: Benchmark and metrics engine

x-grpc-services:
  marketplaceQuery:
    service: virtengine.marketplace.v1.Query
    transport: grpc
    restGateway: not-generated-in-this-build
    methods:
      - name: OfferingPrice
        requestSchema:
          $ref: '#/components/schemas/MarketplaceOfferingPriceRequest'
        responseSchema:
          $ref: '#/components/schemas/MarketplaceOfferingPriceResponse'
        errors:
          - grpcStatus: INVALID_ARGUMENT
            when: Request is empty, offering_id is missing, offering_id cannot be parsed, or pricing inputs are invalid.
          - grpcStatus: NOT_FOUND
            code: marketplace:2200
            when: The requested offering does not exist.
      - name: AllocationsByCustomer
        requestSchema:
          $ref: '#/components/schemas/MarketplaceAllocationsByCustomerRequest'
        responseSchema:
          $ref: '#/components/schemas/MarketplaceAllocationsResponse'
        errors:
          - grpcStatus: INVALID_ARGUMENT
            when: Request is empty or customer_address is missing.
      - name: AllocationsByProvider
        requestSchema:
          $ref: '#/components/schemas/MarketplaceAllocationsByProviderRequest'
        responseSchema:
          $ref: '#/components/schemas/MarketplaceAllocationsResponse'
        errors:
          - grpcStatus: INVALID_ARGUMENT
            when: Request is empty or provider_address is missing.
  hpcWorkloadTemplateQuery:
    service: virtengine.hpc.v1.WorkloadTemplateQuery
    transport: grpc
    restGateway: not-generated-in-this-build
    methods:
      - name: WorkloadTemplate
        requestSchema:
          $ref: '#/components/schemas/HpcWorkloadTemplateRequest'
        responseSchema:
          $ref: '#/components/schemas/HpcWorkloadTemplateResponse'
        errors:
          - grpcStatus: INVALID_ARGUMENT
            when: Request is empty or template_id/version is missing.
          - grpcStatus: NOT_FOUND
            code: hpc:2140
            when: The requested workload template version does not exist.
      - name: WorkloadTemplates
        requestSchema:
          $ref: '#/components/schemas/HpcWorkloadTemplatesRequest'
        responseSchema:
          $ref: '#/components/schemas/HpcWorkloadTemplatesResponse'
        errors:
          - grpcStatus: INVALID_ARGUMENT
            when: Request is empty.
          - grpcStatus: INTERNAL
            when: Template pagination or decoding fails.
      - name: WorkloadTemplatesByType
        requestSchema:
          $ref: '#/components/schemas/HpcWorkloadTemplatesByTypeRequest'
        responseSchema:
          $ref: '#/components/schemas/HpcWorkloadTemplatesByTypeResponse'
        errors:
          - grpcStatus: INVALID_ARGUMENT
            when: Request is empty.
          - grpcStatus: INTERNAL
            when: Template pagination or decoding fails.
      - name: WorkloadTemplatesByPublisher
        requestSchema:
          $ref: '#/components/schemas/HpcWorkloadTemplatesByPublisherRequest'
        responseSchema:
          $ref: '#/components/schemas/HpcWorkloadTemplatesByPublisherResponse'
        errors:
          - grpcStatus: INVALID_ARGUMENT
            when: Request is empty.
          - grpcStatus: INTERNAL
            when: Template pagination or decoding fails.
      - name: ApprovedWorkloadTemplates
        requestSchema:
          $ref: '#/components/schemas/HpcApprovedWorkloadTemplatesRequest'
        responseSchema:
          $ref: '#/components/schemas/HpcApprovedWorkloadTemplatesResponse'
        errors:
          - grpcStatus: INVALID_ARGUMENT
            when: Request is empty.
          - grpcStatus: INTERNAL
            when: Template pagination or decoding fails.
      - name: WorkloadTemplateUsage
        requestSchema:
          $ref: '#/components/schemas/HpcWorkloadTemplateUsageRequest'
        responseSchema:
          $ref: '#/components/schemas/HpcWorkloadTemplateUsageResponse'
        errors:
          - grpcStatus: INVALID_ARGUMENT
            when: Request is empty or template_id/version is missing.
      - name: SearchWorkloadTemplates
        requestSchema:
          $ref: '#/components/schemas/HpcSearchWorkloadTemplatesRequest'
        responseSchema:
          $ref: '#/components/schemas/HpcSearchWorkloadTemplatesResponse'
        errors:
          - grpcStatus: INVALID_ARGUMENT
            when: Request is empty.
          - grpcStatus: INTERNAL
            when: Template pagination or decoding fails.

paths:
  # VEID Module
  /virtengine/veid/v1/identity/{account_address}:
    get:
      tags: [VEID]
      summary: Get identity record
      description: Retrieves the identity record for an account
      operationId: getIdentity
      security: []
      parameters:
        - name: account_address
          in: path
          required: true
          schema:
            type: string
          description: Bech32 account address
      responses:
        '200':
          description: Identity record
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdentityResponse'
        '404':
          description: Identity not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-rate-limit:
        requests-per-second: 10
        burst: 20

  /virtengine/veid/v1/scope/list:
    get:
      tags: [VEID]
      summary: List identity scopes
      description: List all scopes for an account
      operationId: listScopes
      security: []
      parameters:
        - name: account_address
          in: query
          required: true
          schema:
            type: string
        - name: pagination.limit
          in: query
          schema:
            type: integer
            default: 100
        - name: pagination.offset
          in: query
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: List of scopes
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScopesResponse'
      x-rate-limit:
        requests-per-second: 10
        burst: 20

  /virtengine/veid/v1/score/{account_address}:
    get:
      tags: [VEID]
      summary: Get identity score
      description: Get ML-computed identity verification score
      operationId: getIdentityScore
      security: []
      parameters:
        - name: account_address
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Identity score
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScoreResponse'
      x-rate-limit:
        requests-per-second: 10
        burst: 20

  # MFA Module
  /virtengine/mfa/v1/factors/{account_address}:
    get:
      tags: [MFA]
      summary: List MFA factors
      description: List configured MFA factors for an account
      operationId: listMfaFactors
      security: []
      parameters:
        - name: account_address
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: List of MFA factors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MfaFactorsResponse'
      x-rate-limit:
        requests-per-second: 10
        burst: 20

  /virtengine/mfa/v1/challenge/create:
    post:
      tags: [MFA]
      summary: Create MFA challenge
      description: Create a new MFA challenge for transaction verification
      operationId: createMfaChallenge
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateChallengeRequest'
      responses:
        '200':
          description: Challenge created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChallengeResponse'
      x-rate-limit:
        requests-per-second: 5
        burst: 10
      x-auth-required:
        type: wallet-signature

  # Market Module
  /virtengine/market/v2beta1/orders/list:
    get:
      tags: [Market]
      summary: List marketplace orders
      description: Query orders with optional filters
      operationId: listOrders
      security: []
      parameters:
        - name: filters.owner
          in: query
          schema:
            type: string
        - name: filters.state
          in: query
          schema:
            type: string
            enum: [open, active, closed]
        - name: pagination.limit
          in: query
          schema:
            type: integer
            default: 100
      responses:
        '200':
          description: List of orders
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrdersResponse'
      x-rate-limit:
        requests-per-second: 20
        burst: 50

  /virtengine/market/v2beta1/bids/list:
    get:
      tags: [Market]
      summary: List marketplace bids
      description: Query bids with optional filters
      operationId: listBids
      security: []
      parameters:
        - name: filters.owner
          in: query
          schema:
            type: string
        - name: filters.state
          in: query
          schema:
            type: string
            enum: [open, active, lost, closed]
      responses:
        '200':
          description: List of bids
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BidsResponse'
      x-rate-limit:
        requests-per-second: 20
        burst: 50

  /virtengine/market/v2beta1/leases/list:
    get:
      tags: [Market]
      summary: List marketplace leases
      description: Query leases with optional filters
      operationId: listLeases
      security: []
      parameters:
        - name: filters.owner
          in: query
          schema:
            type: string
        - name: filters.state
          in: query
          schema:
            type: string
            enum: [active, insufficient_funds, closed]
      responses:
        '200':
          description: List of leases
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LeasesResponse'
      x-rate-limit:
        requests-per-second: 20
        burst: 50

  # Provider Module  
  /virtengine/provider/v1beta4/providers:
    get:
      tags: [Provider]
      summary: List providers
      description: List all registered providers
      operationId: listProviders
      security: []
      parameters:
        - name: pagination.limit
          in: query
          schema:
            type: integer
            default: 100
      responses:
        '200':
          description: List of providers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProvidersResponse'
      x-rate-limit:
        requests-per-second: 10
        burst: 20

  /virtengine/provider/v1beta4/providers/{owner}:
    get:
      tags: [Provider]
      summary: Get provider details
      description: Get detailed information for a specific provider
      operationId: getProvider
      security: []
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Provider details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderResponse'
      x-rate-limit:
        requests-per-second: 10
        burst: 20

  # Escrow Module
  /virtengine/escrow/v1/accounts/list:
    get:
      tags: [Escrow]
      summary: List escrow accounts
      description: List all escrow accounts with optional filters
      operationId: listEscrowAccounts
      security: []
      parameters:
        - name: scope
          in: query
          schema:
            type: string
            enum: [all, deployment, bid]
        - name: owner
          in: query
          schema:
            type: string
      responses:
        '200':
          description: List of escrow accounts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EscrowAccountsResponse'
      x-rate-limit:
        requests-per-second: 10
        burst: 20

  /virtengine/escrow/v1/payments/list:
    get:
      tags: [Escrow]
      summary: List escrow payments
      description: List all payments for an escrow account
      operationId: listEscrowPayments
      security: []
      parameters:
        - name: account_id.scope
          in: query
          required: true
          schema:
            type: string
        - name: account_id.xid
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: List of payments
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentsResponse'
      x-rate-limit:
        requests-per-second: 10
        burst: 20

  # HPC Module
  /virtengine/hpc/v1/jobs:
    get:
      tags: [HPC]
      summary: List HPC jobs
      description: List all HPC job submissions
      operationId: listHpcJobs
      security: []
      parameters:
        - name: owner
          in: query
          schema:
            type: string
        - name: status
          in: query
          schema:
            type: string
            enum: [pending, running, completed, failed]
      responses:
        '200':
          description: List of HPC jobs
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HpcJobsResponse'
      x-rate-limit:
        requests-per-second: 10
        burst: 20

  /virtengine/hpc/v1/jobs/{job_id}:
    get:
      tags: [HPC]
      summary: Get HPC job details
      description: Get detailed information for a specific HPC job
      operationId: getHpcJob
      security: []
      parameters:
        - name: job_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: HPC job details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HpcJobResponse'
      x-rate-limit:
        requests-per-second: 10
        burst: 20

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
      description: API key authentication
    
    WalletAuth:
      type: apiKey
      in: header
      name: X-Cosmos-Signature
      description: |
        Wallet signature authentication using Cosmos ADR-036 standard.
        Requires headers: X-Cosmos-Signature, X-Cosmos-Pubkey, X-Cosmos-Timestamp

  schemas:
    ErrorResponse:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
              example: "veid:1001"
            message:
              type: string
              example: "identity not found"
            category:
              type: string
              enum: [validation, not_found, unauthorized, internal]

    Coin:
      type: object
      required: [denom, amount]
      properties:
        denom:
          type: string
        amount:
          type: string

    PageRequest:
      type: object
      properties:
        key:
          type: string
          format: byte
        offset:
          type: integer
          format: int64
          minimum: 0
        limit:
          type: integer
          format: int64
          minimum: 0
        count_total:
          type: boolean

    MarketplaceOfferingPriceRequest:
      type: object
      required: [offering_id]
      properties:
        offering_id:
          type: string
          description: On-chain offering identifier in provider/sequence form.
        resource_units:
          type: object
          additionalProperties:
            type: integer
            format: int64
            minimum: 0
          description: Resource unit overrides keyed by resource type.
        quantity:
          type: integer
          format: int32
          minimum: 0
          description: Defaults to 1 when omitted or set to 0.

    MarketplaceOfferingPriceResponse:
      type: object
      properties:
        total:
          $ref: '#/components/schemas/Coin'

    MarketplaceAllocation:
      type: object
      properties:
        allocation_id:
          type: string
        order_id:
          type: string
        offering_id:
          type: string
        provider_address:
          type: string
        customer_address:
          type: string
        state:
          type: integer
          format: int32
          description: gRPC enum value from virtengine.marketplace.v1.AllocationState.
        accepted_price:
          type: integer
          format: int64
          minimum: 0
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        terminated_at:
          type: string
          format: date-time
          nullable: true
        state_reason:
          type: string

    MarketplaceAllocationsByCustomerRequest:
      type: object
      required: [customer_address]
      properties:
        customer_address:
          type: string
        pagination:
          $ref: '#/components/schemas/PageRequest'

    MarketplaceAllocationsByProviderRequest:
      type: object
      required: [provider_address]
      properties:
        provider_address:
          type: string
        pagination:
          $ref: '#/components/schemas/PageRequest'

    MarketplaceAllocationsResponse:
      type: object
      properties:
        allocations:
          type: array
          items:
            $ref: '#/components/schemas/MarketplaceAllocation'
        pagination:
          $ref: '#/components/schemas/Pagination'

    HpcWorkloadRuntime:
      type: object
      properties:
        container_image:
          type: string
        container_registry:
          type: string
        image_digest:
          type: string
        runtime_type:
          type: string
          enum: [singularity, apptainer, native]
        required_modules:
          type: array
          items:
            type: string
        mpi_implementation:
          type: string
        cuda_version:
          type: string
        python_version:
          type: string

    HpcWorkloadResourceSpec:
      type: object
      properties:
        min_nodes:
          type: integer
          format: int32
        max_nodes:
          type: integer
          format: int32
        default_nodes:
          type: integer
          format: int32
        min_cpus_per_node:
          type: integer
          format: int32
        max_cpus_per_node:
          type: integer
          format: int32
        default_cpus_per_node:
          type: integer
          format: int32
        min_memory_mb_per_node:
          type: integer
          format: int64
        max_memory_mb_per_node:
          type: integer
          format: int64
        default_memory_mb_per_node:
          type: integer
          format: int64
        min_gpus_per_node:
          type: integer
          format: int32
        max_gpus_per_node:
          type: integer
          format: int32
        default_gpus_per_node:
          type: integer
          format: int32
        gpu_types:
          type: array
          items:
            type: string
        min_runtime_minutes:
          type: integer
          format: int64
        max_runtime_minutes:
          type: integer
          format: int64
        default_runtime_minutes:
          type: integer
          format: int64
        storage_gb_required:
          type: integer
          format: int32
        network_required:
          type: boolean
        exclusive_nodes:
          type: boolean

    HpcWorkloadSecuritySpec:
      type: object
      properties:
        allowed_images:
          type: array
          items:
            type: string
        blocked_images:
          type: array
          items:
            type: string
        allowed_registries:
          type: array
          items:
            type: string
        require_image_digest:
          type: boolean
        allow_network_access:
          type: boolean
        allow_host_mounts:
          type: boolean
        allowed_host_paths:
          type: array
          items:
            type: string
        sandbox_level:
          type: string
          enum: [none, basic, strict]
        max_open_files:
          type: integer
          format: int64
        max_processes:
          type: integer
          format: int64
        max_file_size:
          type: integer
          format: int64
        require_signed_image:
          type: boolean
        trusted_signers:
          type: array
          items:
            type: string

    HpcWorkloadEntrypoint:
      type: object
      required: [command]
      properties:
        command:
          type: string
        default_args:
          type: array
          items:
            type: string
        arg_template:
          type: string
        working_directory:
          type: string
        pre_run_script:
          type: string
        post_run_script:
          type: string
        use_mpirun:
          type: boolean
        mpirun_args:
          type: array
          items:
            type: string

    HpcEnvironmentVariable:
      type: object
      properties:
        name:
          type: string
        value:
          type: string
        value_template:
          type: string
        required:
          type: boolean
        secret:
          type: boolean
        description:
          type: string

    HpcDataBinding:
      type: object
      properties:
        name:
          type: string
        mount_path:
          type: string
        host_path:
          type: string
        data_type:
          type: string
          enum: [input, output, scratch]
        required:
          type: boolean
        read_only:
          type: boolean

    HpcParameterDefinition:
      type: object
      properties:
        name:
          type: string
        type:
          type: string
          enum: [string, int, float, bool, enum]
        description:
          type: string
        default:
          type: string
        required:
          type: boolean
        enum_values:
          type: array
          items:
            type: string
        min_value:
          type: string
        max_value:
          type: string
        pattern:
          type: string

    HpcWorkloadSignature:
      type: object
      properties:
        algorithm:
          type: string
        publisher_pub_key:
          type: string
        signature:
          type: string
        signed_at:
          type: string
          format: date-time
        content_hash:
          type: string

    HpcWorkloadTemplate:
      type: object
      required: [template_id, name, version, type, runtime, resources, security, entrypoint, approval_status, publisher, created_at, updated_at, block_height]
      properties:
        template_id:
          type: string
        name:
          type: string
        version:
          type: string
        description:
          type: string
        type:
          type: string
          enum: [mpi, gpu, batch, data_processing, interactive, custom]
        runtime:
          $ref: '#/components/schemas/HpcWorkloadRuntime'
        resources:
          $ref: '#/components/schemas/HpcWorkloadResourceSpec'
        security:
          $ref: '#/components/schemas/HpcWorkloadSecuritySpec'
        entrypoint:
          $ref: '#/components/schemas/HpcWorkloadEntrypoint'
        environment:
          type: array
          items:
            $ref: '#/components/schemas/HpcEnvironmentVariable'
        modules:
          type: array
          items:
            type: string
        data_bindings:
          type: array
          items:
            $ref: '#/components/schemas/HpcDataBinding'
        parameter_schema:
          type: array
          items:
            $ref: '#/components/schemas/HpcParameterDefinition'
        approval_status:
          type: string
          enum: [pending, approved, rejected, deprecated, revoked]
        publisher:
          type: string
        artifact_cid:
          type: string
        signature:
          $ref: '#/components/schemas/HpcWorkloadSignature'
        tags:
          type: array
          items:
            type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        approved_at:
          type: string
          format: date-time
          nullable: true
        block_height:
          type: integer
          format: int64

    HpcWorkloadTemplateRequest:
      type: object
      required: [template_id, version]
      properties:
        template_id:
          type: string
        version:
          type: string

    HpcWorkloadTemplateResponse:
      type: object
      properties:
        template:
          $ref: '#/components/schemas/HpcWorkloadTemplate'

    HpcWorkloadTemplatesRequest:
      type: object
      properties:
        pagination:
          $ref: '#/components/schemas/PageRequest'
        template_id:
          type: string

    HpcWorkloadTemplatesResponse:
      type: object
      properties:
        templates:
          type: array
          items:
            $ref: '#/components/schemas/HpcWorkloadTemplate'
        pagination:
          $ref: '#/components/schemas/Pagination'

    HpcWorkloadTemplatesByTypeRequest:
      type: object
      required: [type]
      properties:
        type:
          type: string
          enum: [mpi, gpu, batch, data_processing, interactive, custom]
        pagination:
          $ref: '#/components/schemas/PageRequest'

    HpcWorkloadTemplatesByTypeResponse:
      allOf:
        - $ref: '#/components/schemas/HpcWorkloadTemplatesResponse'

    HpcWorkloadTemplatesByPublisherRequest:
      type: object
      required: [publisher]
      properties:
        publisher:
          type: string
        pagination:
          $ref: '#/components/schemas/PageRequest'

    HpcWorkloadTemplatesByPublisherResponse:
      allOf:
        - $ref: '#/components/schemas/HpcWorkloadTemplatesResponse'

    HpcApprovedWorkloadTemplatesRequest:
      type: object
      properties:
        pagination:
          $ref: '#/components/schemas/PageRequest'

    HpcApprovedWorkloadTemplatesResponse:
      allOf:
        - $ref: '#/components/schemas/HpcWorkloadTemplatesResponse'

    HpcWorkloadTemplateUsageRequest:
      type: object
      required: [template_id, version]
      properties:
        template_id:
          type: string
        version:
          type: string

    HpcWorkloadTemplateUsageResponse:
      type: object
      properties:
        template_id:
          type: string
        version:
          type: string
        total_uses:
          type: integer
          format: int64
        active_jobs:
          type: integer
          format: int64
        completed_jobs:
          type: integer
          format: int64
        failed_jobs:
          type: integer
          format: int64

    HpcSearchWorkloadTemplatesRequest:
      type: object
      properties:
        query:
          type: string
        pagination:
          $ref: '#/components/schemas/PageRequest'

    HpcSearchWorkloadTemplatesResponse:
      allOf:
        - $ref: '#/components/schemas/HpcWorkloadTemplatesResponse'

    IdentityResponse:
      type: object
      properties:
        identity:
          type: object
          properties:
            account_address:
              type: string
              example: "virtengine1..."
            status:
              type: string
              enum: [pending, verified, revoked]
            verification_level:
              type: integer
              minimum: 0
              maximum: 5
            created_at:
              type: string
              format: date-time
            updated_at:
              type: string
              format: date-time

    ScopesResponse:
      type: object
      properties:
        scopes:
          type: array
          items:
            type: object
            properties:
              scope_id:
                type: string
              scope_type:
                type: string
                enum: [facial, document, liveness, biometric]
              encrypted_data:
                type: string
                format: base64
              fingerprint:
                type: string
              uploaded_at:
                type: string
                format: date-time
        pagination:
          $ref: '#/components/schemas/Pagination'

    ScoreResponse:
      type: object
      properties:
        score:
          type: object
          properties:
            account_address:
              type: string
            overall_score:
              type: number
              format: float
              minimum: 0
              maximum: 1
            components:
              type: object
              properties:
                facial_match:
                  type: number
                  format: float
                liveness_score:
                  type: number
                  format: float
                document_authenticity:
                  type: number
                  format: float
            computed_at:
              type: string
              format: date-time

    MfaFactorsResponse:
      type: object
      properties:
        factors:
          type: array
          items:
            type: object
            properties:
              factor_id:
                type: string
              factor_type:
                type: string
                enum: [totp, webauthn, recovery]
              enabled:
                type: boolean
              created_at:
                type: string
                format: date-time

    CreateChallengeRequest:
      type: object
      required:
        - address
        - factor_type
        - transaction_type
      properties:
        address:
          type: string
        factor_type:
          type: string
          enum: [totp, webauthn, recovery]
        transaction_type:
          type: string

    ChallengeResponse:
      type: object
      properties:
        challenge_id:
          type: string
        expires_at:
          type: string
          format: date-time

    OrdersResponse:
      type: object
      properties:
        orders:
          type: array
          items:
            type: object
            properties:
              order_id:
                type: object
              owner:
                type: string
              state:
                type: string
                enum: [open, active, closed]
              spec:
                type: object
              created_at:
                type: integer
                format: int64
        pagination:
          $ref: '#/components/schemas/Pagination'

    BidsResponse:
      type: object
      properties:
        bids:
          type: array
          items:
            type: object
        pagination:
          $ref: '#/components/schemas/Pagination'

    LeasesResponse:
      type: object
      properties:
        leases:
          type: array
          items:
            type: object
        pagination:
          $ref: '#/components/schemas/Pagination'

    ProvidersResponse:
      type: object
      properties:
        providers:
          type: array
          items:
            type: object
            properties:
              owner:
                type: string
              host_uri:
                type: string
              attributes:
                type: array
                items:
                  type: object
              info:
                type: object
        pagination:
          $ref: '#/components/schemas/Pagination'

    ProviderResponse:
      type: object
      properties:
        provider:
          type: object
          properties:
            owner:
              type: string
            host_uri:
              type: string
            attributes:
              type: array
              items:
                type: object

    EscrowAccountsResponse:
      type: object
      properties:
        accounts:
          type: array
          items:
            type: object
        pagination:
          $ref: '#/components/schemas/Pagination'

    PaymentsResponse:
      type: object
      properties:
        payments:
          type: array
          items:
            type: object
        pagination:
          $ref: '#/components/schemas/Pagination'

    HpcJobsResponse:
      type: object
      properties:
        jobs:
          type: array
          items:
            type: object
            properties:
              job_id:
                type: string
              owner:
                type: string
              status:
                type: string
                enum: [pending, running, completed, failed]
              created_at:
                type: string
                format: date-time
        pagination:
          $ref: '#/components/schemas/Pagination'

    HpcJobResponse:
      type: object
      properties:
        job:
          type: object
          properties:
            job_id:
              type: string
            owner:
              type: string
            status:
              type: string
            spec:
              type: object
            results:
              type: object

    Pagination:
      type: object
      properties:
        next_key:
          type: string
          format: byte
        total:
          type: string
          format: uint64
