VIRTENGINE_ROOT=$(pwd)
export VIRTENGINE_ROOT

dotenv

SCRIPT_DIR=${VIRTENGINE_ROOT}/script

TOOLS=${SCRIPT_DIR}/tools.sh
SEMVER=${SCRIPT_DIR}/semver.sh

if [[ ${GOWORK} != "off" ]] && [[ -f go.work ]]; then
	GOWORK=${VIRTENGINE_ROOT}/go.work
else
	GOWORK=off
fi

export GOWORK

GOTOOLCHAIN=$(${TOOLS} gotoolchain)
GOTOOLCHAIN_SEMVER=$(echo "${GOTOOLCHAIN}" | sed 's/go*/v/' | tr -d '\n')

if [[ "$OSTYPE" == "darwin"* ]]; then
    # on MacOS disable deprecation warnings security framework
    CGO_CFLAGS=-Wno-deprecated-declarations

    export CGO_CFLAGS
fi

dotenv_if_exists dev.env

VIRTENGINE_DIRENV_SET=1

export SCRIPT_DIR
export TOOLS
export SEMVER
export GOTOOLCHAIN
export GOTOOLCHAIN_SEMVER
export VIRTENGINE_DIRENV_SET

make cache

PATH_add "$VIRTENGINE_DEVCACHE_NODE_BIN"
PATH_add "$VIRTENGINE_TS_NODE_BIN"
PATH_add "$VIRTENGINE_TS_ROOT/script"
PATH_add "$VIRTENGINE_DEVCACHE_BIN"

if [ ! -L "$VIRTENGINE_DEVCACHE_BIN/repo-tools" ]; then
    pushd "$(pwd)" || exit
    cd "$VIRTENGINE_DEVCACHE_BIN" || exit
    ln -snf ../../script/tools.sh repo-tools
    popd || exit
fi

make semver
