---
name: standardize-yaml
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  check-yml-files:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: check-yml-count
        run: |
          # Skip certain legacy yml files that are required by external tools
          yml_files=$(git ls-files '*.yml' ':!:codecov.yml' ':!:sdk/codecov.yml' ':!:config/kong/prometheus.yml')
          if [[ -n "$yml_files" ]]; then echo "$yml_files" && exit 1; fi
